@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: none;
    font-family: Roboto;
    
}

:root {
    --blue : #E7FAFE;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    height: 8vh;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.183);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: white;

    
}

.logo {
    font-family: "Lobster", serif;
}

.burguer {
    width: 2%;
    display: none;
}


nav {
    display: flex;
    gap: 30px;
    

}

nav a {
    color: black;
    font-size: 1.1rem;
    text-decoration: none;
   
}


.reseaux{
    display: flex;
    align-items: center;
    gap: 25px;
}

.reseaux svg:nth-child(1)  {
    width: 12px;
}

.reseaux svg {
    width: 20px;
    fill: black;
    cursor: pointer;
}

/* main */


section {
    padding: 3% 10%;
}

/* hero */

.hero {
   
   height: calc(100vh - 8vh);
   width: 100%;
   margin-top: 10vh;
   padding: 3% 5% ;
   

}

.hero .slide {
   
    height: 100%;
    display: flex;
    width: 100%;
    border-radius: 20px;  
   
    
}

.badge {
    position: absolute;
    width: clamp(15% ,4vw , 10%) ;
    top: 3% ;
    right: -5%;
}


/* --------------------------------left slide */

.hero .slide .left_slide {
    background-color:var(--blue);
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:3%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    position: relative;


}

.left_slide .top {
    background-color: white;
    width: 200px;
    padding: 10px 20px;
    border-radius: 40px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.top img {
    width: 15%;
    object-fit: cover;
}

.top span {
    font-size: 1.2rem;
    font-weight: 700;
}


/* content */



 .left_slide .content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 20px;
 }

 .left_slide .content h1{
    font-size: clamp(1.5rem,3vw,5rem);
 }

 .left_slide .content p {
    font-size: 1.3rem;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.51);
 }

 .left_slide .content .slide_btn {
    display: flex;
    gap: 20px;
 }

 .slide_btn button {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background-color:#27282914;
    gap: 10px;
    font-size: 1.3rem;
    border: none;
    color: #3c3e3ec3;
    outline: none;
    border-radius: 40px;
 }

 .slide_btn button svg {
    width: 40px;
 }

 .footer {
    display: flex;
    justify-content: space-between;
    gap: 30px;
 }
 .footer .profil {
    display: flex;
    align-items: center;
    gap: 20px;
 }

 .footer .profil img {
    width: 12%;
    border-radius: 50%;
    
 }


 .profil .profil_description {
    display: flex;
    flex-direction: column;
    gap: 10px;
 }

 .profil .profil_description h3 {
    font-weight: 800;
    font-size: 1.3rem;
    
 }
 .profil .profil_description p {
   
    font-size: 1rem;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.51);
    
 }

 .footer .footer_bt {
    padding: 5px 10px;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30% ;
    gap: 10px;
    background-color: black;
    border-radius: 20px;
    color: white;
    
 }


 .footer .footer_bt p {
    font-size: clamp(16px , 2px ,12px);
    margin: 0;
    
    
 }


 .footer .footer_bt svg {
   width: 25px;
   fill: rgb(255, 255, 255);
 }



/* ----------------------------------right slide */

.hero .slide .right_slide {
    background-color: rgb(31, 53, 53);
    background: url(/Resources/image/Mask\ Group.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-basis: 50%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

}


/* categorie */


.categorie {
   
    /* height: 40vh; */
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: space-between;

    
}

.categorie .categorie_title {
    display: flex;
    justify-content: space-between;
    width: 100%;


}

.categorie_title .view_all{
    padding: 10px 15px;
    /* width: clamp(20%, 15%); */
    border-radius: 15px;
    outline: none;
    border: none;
    font-size: clamp(16px, 1em, 1rem);
    font-weight: 600;
    color: black;
    background-color:var(--blue);
    cursor: pointer;



}

.categorie_title h1 {
    font-size:clamp(1.5rem,4vw,  2.6rem);
}


.categorie .categorie_img{
   display: grid;
   grid-template-columns: repeat(auto-fit ,minmax(150px , 1fr));
   gap: 80px;
    
}

.categorie .cat {
    
    background-color: white;
    height: 200px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    font-size: 1rem;
    font-weight: 600;
    z-index: 1;
    position: relative;
   

}

.cat::after{
    content: '';
    background:linear-gradient(to top ,var(--blue),white ) ;
    height: 0;
    z-index: -1;
    border-radius: 30px;
    bottom: 0;
    position: absolute;
    width: 100%;
    transition: 0.5s ease-in-out;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.08);
}

.categorie .cat:hover::after {
  height: 100%;
}



.categorie .cat:hover img{
  transform: scale(1.2);
}



.categorie_img .cat:nth-child(1){
    background:linear-gradient(to top ,rgba(39, 41, 39, 0.093) ,white ) ;
}
.categorie_img .cat:nth-child(2){
    background:linear-gradient(to top ,rgba(22, 140, 22, 0.227) ,white ) ;
}
.categorie_img .cat:nth-child(3){
    background:linear-gradient(to top ,rgba(177, 43, 22, 0.227) ,white ) ;
}
.categorie_img .cat:nth-child(4){
    background:linear-gradient(to top ,rgba(154, 177, 22, 0.227) ,white ) ;
}
.categorie_img .cat:nth-child(5){
    background:linear-gradient(to top ,rgba(90, 103, 19, 0.227) ,white ) ;
}
.categorie_img .cat:nth-child(6){
    background:linear-gradient(to top ,rgba(88, 56, 5, 0.264) ,white ) ;
}

.cat img {
    width: 40%;
    transition: 0.3s ease;
}




/* ---------------------------------------------section recipe */

.recipes{
    /* background-color: aqua; */
    /* height: 100vh; */
    
}

.recipes .recipe_title{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    text-align: center;
    margin-top: 100px;
    
}



.recipe_title h1 {
    font-size: clamp(16px,5vw,40px);
    margin-bottom: 20px;
    
}

.recipe_title p {
    font-size: clamp(12px,3vw,20px);
    width: clamp(70%,3vw,80%);
    color: #3c3e3ec3;
}


.recipes .recipe_content {

    margin-top: 40px;
    height: 100%;
    width: 100%;
    padding: 5%  0;
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(400px ,1fr));
    gap: 50px;

}

.recipe_content .recipe_item{
    background-color: black;
    align-content: center;
    height: 500px;
    border-radius: 20px;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    position: relative;

}

.recipe_img {
    background-color: aqua;
    height: 60%;
    overflow: hidden;
    border-radius: 20px;
}

.recipe_img img {
    /* width: 100%; */
    object-fit: cover;
    height: 100%;
    width: 100%
   
} 
 .recipe_item:nth-child(1) .coeur svg{
 fill: rgba(255, 0, 0, 0.633);
}
 .recipe_item:nth-child(5) .coeur svg{
 fill: rgba(255, 0, 0, 0.633);
}
 .recipe_item:nth-child(8) .coeur svg{
 fill: rgba(255, 0, 0, 0.633);
}

.coeur {
    position: absolute;
    width: 50px;
    top: 5%;
    right: 2%;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coeur svg {
    fill: antiquewhite;
    
}


.recipe_description {
   
    padding: 5%;
    height: 50%;
}

.recipe_description h1 {
    
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.recipe_description .slide_btn {
    display: flex;
    gap: 20px;
    
}
.recipe_description .slide_btn button {
   padding: 0;
   border-radius: initial;
   background-color: var(--blue);
   font-size: 1rem;
}




.recipe_content .pub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#357355 ,#1D483B) ;
    color: white;
    padding: 5%;
}

.recipe_content .pub img{
    width: clamp(60%, 70%, 80%);
}



.recipe_content .pub h1{
    font-family: "Lobster", serif;
    font-size: clamp(12px,4vw,25px);
    letter-spacing: 5px;
    text-align: center;
}


/* -------------------------section chez */



.chef {
    /* background-color: #1D483B; */
    height: 90vh;
    width: 100%;
   
} 

.chef .texte{
   
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 30px;
    justify-content: center;
    padding-right:4% ;

    
}

.chef .texte h1 {
    font-size: clamp(20px,4vw, 60px);
    font-weight: 800;

}
.chef .texte p {
    font-size: clamp(12px,4vw, 18px);
    color: #27282982;
    line-height: 35px;
    width: 80%;
}

.chef .texte .chef_bt{
  width: 30%;
  padding: 20px 15px ;
  font-size: calc(12px,4vw,25px);
  background-color: black;
  color: white;
  border-radius: 10px;
}


.chef .image_chef{
    background:linear-gradient(to bottom ,rgb(255, 255, 255),var(--blue));
    border-radius: 30px;
    position: relative;

}


.chef .image img{
    width: clamp(100%,4vw,60%);
  position: absolute;
  left: -10%;
  bottom:  0;
  

}

.chef .image .oignon {
    position: absolute;
    width: clamp(30px,4vw,70px);
    top: clamp(15%,4vw,45%);
    left: 70%;
}
.chef .image .salade {
    position: absolute;
    width: clamp(50px,4vw,100px);
    top: 40%;
    left: 85%;
}

.chef .image .tomate {
    position: absolute;
    width: clamp(40px,4vw,60px);
    bottom: 20%;
    left: -2%;
}
.chef .image .viande {
    position: absolute;
    width: clamp(0px,4vw,100px);
    top: 15%;
    left: 4%;
}












/* responsive */



@media screen and (max-width:1200px) {
    
}


@media screen and (max-width:800px) {
 
    header nav {
        display: none;

    }


    .hero {
   
        height: calc(60vh);
        margin-top: 10vh;
        
     
     }

   

     /* --------------------------------left slide */


.left_slide .top {
    width: 180px;
    padding: 7px 20px;
    gap: 20px;
   
}

.top img {
    width: 13%;
   
}

.top span {
    font-size: 1rem;
}


.hero .slide .left_slide {
    flex-basis: 60%;
   

}


.hero .slide .right_slide {
    flex-basis:40%;
   

}



/* content */



.left_slide .content {
   
    gap: 20px;
    margin-bottom: 20px;
 }

 

 .left_slide .content p {
    font-size: 1rem;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.51);
 }

 .left_slide .content .slide_btn {
   
    gap: 20px;
 }

 .slide_btn button {
    padding: 5px 10px;
    gap: 10px;
    font-size: 1rem;
    border-radius: 30px;
 }

 .slide_btn button svg {
    width: 30px;
 }



 .footer {
  
    display: flex;
    align-items: center;
 }
 .footer .profil {
     flex: 1;
    gap: 15px;
 }

 .footer .profil img {
    width: 15%;
    border-radius: 50%;
    
 }

.profil_description {
   
}

 .profil .profil_description h3 {
   
    font-size: 1.1rem;
    
 }
 .profil .profil_description p {
   
    font-size: 0.9rem;
    
    
 }

 .footer .footer_bt {
    flex: 1;
    width: 60%;
    padding: 5px 5px;
    /* justify-content: space-around; */
    height:50%;
    gap: 10px;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    color: white;
 }

 .footer .footer_bt p {
    font-size: 0.7rem;
   
 }


 .footer .footer_bt svg {
   width: 20Px;
   fill: white;
 }

/* --------chef */


.chef {

    margin: 0;
}

.chef .texte{
   
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 30px;
   
   
    
}

.chef .texte h1 {
    font-size: clamp(20px,5vw, 60px);
    font-weight: 800;
}
.chef .texte p {
    font-size: clamp(12px,4vw, 18px);
    width: 90%;
}

.chef .texte .chef_bt{
  width: 30%;
  padding: 20px 15px ;
  font-size: calc(12px,4vw,25px);
 
}


.chef .image_chef{
    background:linear-gradient(to bottom ,rgb(255, 255, 255),var(--blue));
    border-radius: 30px;
  
    height: 50vh;

}


.chef .image img{
    width: clamp(70%,5vw,60%);
  left: 10%;
  bottom:  0%;
  

}

.chef .image .oignon {
    width: clamp(50px,4vw,70px);
    top: clamp(15%,4vw,45%);
    left: 70%;
}
.chef .image .salade {
   
    width: clamp(60px,4vw,100px);
    top: 60%;
    left: 85%;
}

.chef .image .tomate {
    position: absolute;
    width: clamp(50px,4vw,60px);
    bottom: 10%;
    left: -2%;
}
.chef .image .viande {
    position: absolute;
    width: clamp(70px,4vw,100px);
    top: 15%;
    left: 4%;
}







}



@media screen and (max-width:500px) {
    


    .badge  {
        right:3%;
        display: none;
    }

    .left_slide{
       
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        flex: 1;
        background:linear-gradient(rgba(37, 90, 125, 0.672),rgba(0, 0, 0, 0.661)), url(/Resources/image/Mask\ Group.png);
        background-position: center;
        background-size: cover;
        color: white;
       

        
    }
    .left_slide .top {
        margin: 0 auto;
        color: rgb(0, 0, 0);
        margin-bottom: 20px;
        margin-top: 10px;
    }

 .left_slide .content {
    text-align: center;
    
 }

 .left_slide .slide_btn span {
    color: rgb(0, 0, 0);
    font-size: .8rem;
 }
 .left_slide .slide_btn button {
    background-color: white;
 }

 .left_slide .content p {
    color: white;
 }

 .left_slide .content .slide_btn{
    justify-content: center;
 }

 .footer {
    padding: 2% ;
   
    
 }

 .footer .profil_description{
    gap: 5px;
    
 }

 .footer .profil_description h3{
    font-size: 0.7rem;
 }
 .footer .profil_description p{
    font-size: .6rem;
 }


 .footer .footer_bt {
    padding: 10px 5px;
    height: 70%;
    flex: 1;
    gap: 5px;
    align-items: center;
    background-color:black;
    border-radius: 12px;
    color: rgb(255, 255, 255);
 }

.footer_svg {
    fill: rgb(128, 13, 13);
    color: rgb(255, 255, 255);
    width: 10px;
 }
 
 .footer .profil {
    flex: 1;
    align-items: center;
 }

 .footer .profil p{
    color: rgba(255, 255, 255, 0.724);
 }

 .footer .footer_bt p {
    font-size: 0.7rem;
 }




    .right_slide {
       display: none;
        border-radius: 30px;
    }

    .hero {

        width: 100%;
        height:80lvh;
        padding: 0 3%;
        margin-bottom: 20px;
       

        
       
    }

    .hero .slide {
        height: 100%;

        display: flex;
        justify-content: center;
        padding: 0% ;
        border-radius: 20px;
        
       
        
    }

    .categorie .categorie_title{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .categorie .categorie_img{
       
        grid-template-columns: repeat(auto-fit ,minmax(110px , 1fr));
        gap: 20px;

         
     }
     
     .categorie .cat {
         
         background-color: white;
         height: 150px;
         border-radius: 30px;
         padding: 20px 0;
         font-size: 1rem;
         font-weight: 600;
         z-index: 1;
         position: relative;
        
     
     }

     .reseaux {
        display: none;
     }

     .burguer {
        display: flex;
        width: 7%;
     }



     /* RECIPE */


     .recipes .recipe_title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
         text-align: center;
         margin-top: 100px;
         
     }
     
     
     
     .recipe_title h1 {
         font-size: clamp(25px,4vw,40px);
         margin-bottom: 20px;
     }
     
     .recipe_title p {
         font-size: clamp(13px,3vw,20px);
         width: clamp(90%,3vw,80%);
         color: #3c3e3ec3;
     }
     
     
     .recipes .recipe_content {
       
         margin-top: 40px;
         height: 100%;
         width: 100%;
         padding: 5%  2%;
         display: grid;
         grid-template-columns: repeat(auto-fit ,minmax(60% ,1fr));
         gap: 30px;
     
     }
     
     .recipe_content .recipe_item{
         background-color: black;
         align-content: center;
         height: 350px;
         border-radius: 20px;
         background-color: var(--blue);
         display: flex;
         flex-direction: column;
         gap: 20px;
         overflow: hidden;
         position: relative;
     
     }
     
     .recipe_img {
         background-color: aqua;
         height: 60%;
         overflow: hidden;
         border-radius: 20px;
     }
     
     .recipe_img img {
         /* width: 100%; */
         object-fit: cover;
         height: 100%;
         width: 100%
        
     } 
      .recipe_item:nth-child(1) .coeur svg{
      fill: rgba(255, 0, 0, 0.633);
     }
      .recipe_item:nth-child(5) .coeur svg{
      fill: rgba(255, 0, 0, 0.633);
     }
      .recipe_item:nth-child(8) .coeur svg{
      fill: rgba(255, 0, 0, 0.633);
     }
     
     .coeur {
         position: absolute;
         width: 30px;
         top: 5%;
         right: 2%;
         background-color: white;
         border-radius: 50%;
         padding: 5px;
         display: flex;
         align-items: center;
         justify-content: center;
     }
     
     .coeur svg {
         fill: antiquewhite;
         
     }
     
     
     .recipe_description {
        
         padding: 5%;
         height: 50%;
     }
     
     .recipe_description h1 {
         
         font-size: 1.2rem;
         margin-bottom: 40px;
     }
     
     .recipe_description .slide_btn {
       
         gap: 20px;
         
     }
     .recipe_description .slide_btn button {
        padding: 0;
       
        font-size: .7rem;
     }
     
     
     
     
     .recipe_content .pub {
       
         padding: 10%;
         justify-content: center;
     }
     
     
     
     .recipe_content .pub h1{
         font-family: "Lobster", serif;
         font-size: 25px;
         letter-spacing: 5px;
         text-align: center;
         margin-top: 20px;
     }
     
     
     
     /* --------chef */


.chef {

    margin: 0;
}

.chef .texte{
   
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 30px;
    
    margin-right: 0%;
   
   
    
}

.chef .texte h1 {
    font-size: clamp(25px,5vw, 60px);
    text-align: center;
    font-weight: 800;
}
.chef .texte p {
    font-size: clamp(12px,4vw, 18px);
    width: 100%;
    text-align: center;
}

.chef .texte .chef_bt{
  width: 50%;
  margin: 0 auto;
  padding: 10px 15px ;
  font-size: calc(10px,3vw,15px);
 
}


.chef .image_chef{
    background:linear-gradient(to bottom ,rgb(255, 255, 255),var(--blue));
    border-radius: 30px;
    height: 40vh;

}


.chef .image img{
    width: clamp(70%,5vw,60%);
  left: 10%;
  bottom:  0%;
  

}

.chef .image .oignon {
    width: clamp(40px,4vw,70px);
    top: clamp(15%,4vw,45%);
    left: 70%;
}
.chef .image .salade {
   
    width: clamp(50px,4vw,100px);
    top: 60%;
    left: 85%;
}

.chef .image .tomate {
    position: absolute;
    width: clamp(30px,4vw,60px);
    bottom: 10%;
    left: -2%;
}
.chef .image .viande {
    position: absolute;
    width: clamp(50px,4vw,100px);
    top: 15%;
    left: 4%;
}


     
     
     
     
     
     
     
    
}
